name: Whitespaces

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Check if there are any whitespaces in the code and config files
      run: ./scripts/whitespaces
